---
import Layout from '@/layouts/Layout.astro'
---

<Layout>
  <main class="flex flex-col gap-20">
    <article class="flex flex-col items-center justify-center gap-8">
      <p>- Your are ready in this live demo, Michael.</p>

      <p>-</p>
      <iframe
        src="https://giphy.com/embed/BY8ORoRpnJDXeBNwxg"
        width="480"
        height="400"
        frameBorder="0"
        class="giphy-embed"
        allowFullScreen></iframe><p>
        <a href="https://giphy.com/gifs/theoffice-BY8ORoRpnJDXeBNwxg"
          >via GIPHY</a
        >
      </p>
    </article>
  </main>
</Layout>
